body{
 background-color:#e1e8c0;
}
h1{
text-align:center;
}
.divcls{

}
table{
width:60%;
}
td,th{
text-align:center;
padding:20px;
spacing:10px;
font-family:"Sans-serif";
font-size:18px;
color:blue;
}